.text-color-primary {
  color: $app-primary;
}

.text-color-secondary {
  color: $app-secondary;
}

.text-border-gray {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $app-secondary;
}